@font-face {
  font-family: 'btcdirect-icons-bold';
  src:  url('btcdirect-icons-bold.eot?m1l4yr');
  src:  url('btcdirect-icons-bold.eot?m1l4yr#iefix') format('embedded-opentype'),
    url('btcdirect-icons-bold.ttf?m1l4yr') format('truetype'),
    url('btcdirect-icons-bold.woff?m1l4yr') format('woff'),
    url('btcdirect-icons-bold.svg?m1l4yr#btcdirect-icons-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="btcdirectib-"], [class*="btcdirectib-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'btcdirect-icons-bold' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btcdirectib-add-submenu:before {
  content: "\e900";
}
.btcdirectib-alert:before {
  content: "\e901";
}
.btcdirectib-align-center:before {
  content: "\e902";
}
.btcdirectib-align-justify:before {
  content: "\e903";
}
.btcdirectib-align-left:before {
  content: "\e904";
}
.btcdirectib-align-right:before {
  content: "\e905";
}
.btcdirectib-android:before {
  content: "\e906";
}
.btcdirectib-apple:before {
  content: "\e907";
}
.btcdirectib-arrow-down:before {
  content: "\e908";
}
.btcdirectib-arrow-next:before {
  content: "\e909";
}
.btcdirectib-arrow-prev:before {
  content: "\e90a";
}
.btcdirectib-arrow-up:before {
  content: "\e90b";
}
.btcdirectib-bold:before {
  content: "\e90c";
}
.btcdirectib-bookmark:before {
  content: "\e90d";
}
.btcdirectib-bootstrap:before {
  content: "\e90e";
}
.btcdirectib-briefcase:before {
  content: "\e90f";
}
.btcdirectib-browse:before {
  content: "\e910";
}
.btcdirectib-bulleted-list:before {
  content: "\e911";
}
.btcdirectib-calendar:before {
  content: "\e912";
}
.btcdirectib-camera:before {
  content: "\e913";
}
.btcdirectib-cart-add:before {
  content: "\e914";
}
.btcdirectib-cart-full:before {
  content: "\e915";
}
.btcdirectib-cash:before {
  content: "\e916";
}
.btcdirectib-change-style:before {
  content: "\e917";
}
.btcdirectib-chat:before {
  content: "\e918";
}
.btcdirectib-clock:before {
  content: "\e919";
}
.btcdirectib-close:before {
  content: "\e91a";
}
.btcdirectib-cloud:before {
  content: "\e91b";
}
.btcdirectib-code:before {
  content: "\e91c";
}
.btcdirectib-contact-form:before {
  content: "\e91d";
}
.btcdirectib-credit-card:before {
  content: "\e91e";
}
.btcdirectib-cursor-click:before {
  content: "\e91f";
}
.btcdirectib-cust-feedback:before {
  content: "\e920";
}
.btcdirectib-database:before {
  content: "\e921";
}
.btcdirectib-delivery:before {
  content: "\e922";
}
.btcdirectib-desktop:before {
  content: "\e923";
}
.btcdirectib-devices:before {
  content: "\e924";
}
.btcdirectib-down:before {
  content: "\e925";
}
.btcdirectib-download:before {
  content: "\e926";
}
.btcdirectib-drag-n-drop:before {
  content: "\e927";
}
.btcdirectib-drag-n-drop2:before {
  content: "\e928";
}
.btcdirectib-edit:before {
  content: "\e929";
}
.btcdirectib-edit2:before {
  content: "\e92a";
}
.btcdirectib-error:before {
  content: "\e92b";
}
.btcdirectib-extension:before {
  content: "\e92c";
}
.btcdirectib-features:before {
  content: "\e92d";
}
.btcdirectib-file:before {
  content: "\e92e";
}
.btcdirectib-flag:before {
  content: "\e92f";
}
.btcdirectib-folder:before {
  content: "\e930";
}
.btcdirectib-gift:before {
  content: "\e931";
}
.btcdirectib-github:before {
  content: "\e932";
}
.btcdirectib-globe-2:before {
  content: "\e933";
}
.btcdirectib-globe:before {
  content: "\e934";
}
.btcdirectib-growing-chart:before {
  content: "\e935";
}
.btcdirectib-hearth:before {
  content: "\e936";
}
.btcdirectib-help:before {
  content: "\e937";
}
.btcdirectib-home:before {
  content: "\e938";
}
.btcdirectib-hot-cup:before {
  content: "\e939";
}
.btcdirectib-idea:before {
  content: "\e93a";
}
.btcdirectib-image-gallery:before {
  content: "\e93b";
}
.btcdirectib-image-slider:before {
  content: "\e93c";
}
.btcdirectib-info:before {
  content: "\e93d";
}
.btcdirectib-italic:before {
  content: "\e93e";
}
.btcdirectib-key:before {
  content: "\e93f";
}
.btcdirectib-laptop:before {
  content: "\e940";
}
.btcdirectib-layers:before {
  content: "\e941";
}
.btcdirectib-left-right:before {
  content: "\e942";
}
.btcdirectib-left:before {
  content: "\e943";
}
.btcdirectib-letter:before {
  content: "\e944";
}
.btcdirectib-like:before {
  content: "\e945";
}
.btcdirectib-link:before {
  content: "\e946";
}
.btcdirectib-lock:before {
  content: "\e947";
}
.btcdirectib-login:before {
  content: "\e948";
}
.btcdirectib-logout:before {
  content: "\e949";
}
.btcdirectib-magic-stick:before {
  content: "\e94a";
}
.btcdirectib-map-pin:before {
  content: "\e94b";
}
.btcdirectib-menu:before {
  content: "\e94c";
}
.btcdirectib-mobile:before {
  content: "\e94d";
}
.btcdirectib-mobile2:before {
  content: "\e94e";
}
.btcdirectib-btcdirect:before {
  content: "\e94f";
}
.btcdirectib-more-horizontal:before {
  content: "\e950";
}
.btcdirectib-more-vertical:before {
  content: "\e951";
}
.btcdirectib-music:before {
  content: "\e952";
}
.btcdirectib-new-file:before {
  content: "\e953";
}
.btcdirectib-numbered-list:before {
  content: "\e954";
}
.btcdirectib-opened-folder:before {
  content: "\e955";
}
.btcdirectib-pages:before {
  content: "\e956";
}
.btcdirectib-paper-plane:before {
  content: "\e957";
}
.btcdirectib-paperclip:before {
  content: "\e958";
}
.btcdirectib-photo:before {
  content: "\e959";
}
.btcdirectib-photos:before {
  content: "\e95a";
}
.btcdirectib-pin:before {
  content: "\e95b";
}
.btcdirectib-play:before {
  content: "\e95c";
}
.btcdirectib-plus:before {
  content: "\e95d";
}
.btcdirectib-preview:before {
  content: "\e95e";
}
.btcdirectib-print:before {
  content: "\e95f";
}
.btcdirectib-protect:before {
  content: "\e960";
}
.btcdirectib-question:before {
  content: "\e961";
}
.btcdirectib-quote-left:before {
  content: "\e962";
}
.btcdirectib-quote-right:before {
  content: "\e963";
}
.btcdirectib-redo:before {
  content: "\e964";
}
.btcdirectib-refresh:before {
  content: "\e965";
}
.btcdirectib-responsive:before {
  content: "\e966";
}
.btcdirectib-right:before {
  content: "\e967";
}
.btcdirectib-rocket:before {
  content: "\e968";
}
.btcdirectib-sad-face:before {
  content: "\e969";
}
.btcdirectib-sale:before {
  content: "\e96a";
}
.btcdirectib-save:before {
  content: "\e96b";
}
.btcdirectib-search:before {
  content: "\e96c";
}
.btcdirectib-setting:before {
  content: "\e96d";
}
.btcdirectib-setting2:before {
  content: "\e96e";
}
.btcdirectib-setting3:before {
  content: "\e96f";
}
.btcdirectib-share:before {
  content: "\e970";
}
.btcdirectib-shopping-bag:before {
  content: "\e971";
}
.btcdirectib-shopping-basket:before {
  content: "\e972";
}
.btcdirectib-shopping-cart:before {
  content: "\e973";
}
.btcdirectib-sites:before {
  content: "\e974";
}
.btcdirectib-smile-face:before {
  content: "\e975";
}
.btcdirectib-speed:before {
  content: "\e976";
}
.btcdirectib-star:before {
  content: "\e977";
}
.btcdirectib-success:before {
  content: "\e978";
}
.btcdirectib-sun:before {
  content: "\e979";
}
.btcdirectib-sun2:before {
  content: "\e97a";
}
.btcdirectib-tablet-vertical:before {
  content: "\e97b";
}
.btcdirectib-tablet:before {
  content: "\e97c";
}
.btcdirectib-target:before {
  content: "\e97d";
}
.btcdirectib-timer:before {
  content: "\e97e";
}
.btcdirectib-to-ftp:before {
  content: "\e97f";
}
.btcdirectib-to-local-drive:before {
  content: "\e980";
}
.btcdirectib-touch-swipe:before {
  content: "\e981";
}
.btcdirectib-touch:before {
  content: "\e982";
}
.btcdirectib-trash:before {
  content: "\e983";
}
.btcdirectib-underline:before {
  content: "\e984";
}
.btcdirectib-undo:before {
  content: "\e985";
}
.btcdirectib-unlink:before {
  content: "\e986";
}
.btcdirectib-unlock:before {
  content: "\e987";
}
.btcdirectib-up-down:before {
  content: "\e988";
}
.btcdirectib-up:before {
  content: "\e989";
}
.btcdirectib-update:before {
  content: "\e98a";
}
.btcdirectib-upload:before {
  content: "\e98b";
}
.btcdirectib-user:before {
  content: "\e98c";
}
.btcdirectib-user2:before {
  content: "\e98d";
}
.btcdirectib-users:before {
  content: "\e98e";
}
.btcdirectib-video-play:before {
  content: "\e98f";
}
.btcdirectib-video:before {
  content: "\e990";
}
.btcdirectib-watch:before {
  content: "\e991";
}
.btcdirectib-website-theme:before {
  content: "\e992";
}
.btcdirectib-wifi:before {
  content: "\e993";
}
.btcdirectib-windows:before {
  content: "\e994";
}
.btcdirectib-zoom-out:before {
  content: "\e995";
}
