<div id="header" class="header">
<div id="headerLogo" class="headerLogo">
<div id="headerLogoImageDiv" class="headerLogoImageDiv">
<img src="assets/images/logo.png" alt="logo" width="95%">
</div>
<div id="headerLogoTextDiv" class="headerLogoTextDiv">
<center><h2 class="boldText whiteText"> BTC Direct </h2></center>
</div>
</div>
<div id="headerNavButtonsOuterDiv" class="headerNavButtonsOuterDiv">
<div id="headerNavButtonsLoginButton" class="headerNavButtonsLoginButton">
  <center><h3 class="whiteText headerNavButtonsLoginButtonText">Log in</h3></center>
  </div>
  <div id="headerNavButtonsSignupButton" class="headerNavButtonsSignupButton">
    <center><h3 class="whiteText headerNavButtonsSignupButtonText">Sign up</h3></center>
    </div>
    <div id="headerNavButtonsHelpButton" class="headerNavButtonsHelpButton">
      <center><h3 class="whiteText headerNavButtonsHelpButtonText">Help</h3></center>
      </div>
  </div>
  </div>
