@font-face {
  font-family: 'btcdirectIcons';
  src:  url('btcdirect-icons.eot?spat4u');
  src:  url('btcdirect-icons.eot?spat4u#iefix') format('embedded-opentype'),
    url('btcdirect-icons.ttf?spat4u') format('truetype'),
    url('btcdirect-icons.woff?spat4u') format('woff'),
    url('btcdirect-icons.svg?spat4u#btcdirectIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="btcdirecti-"], [class*=" btcdirecti-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: btcdirectIcons !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btcdirecti-add-submenu:before {
  content: "\e900";
}
.btcdirecti-alert:before {
  content: "\e901";
}
.btcdirecti-align-center:before {
  content: "\e902";
}
.btcdirecti-align-justify:before {
  content: "\e903";
}
.btcdirecti-align-left:before {
  content: "\e904";
}
.btcdirecti-align-right:before {
  content: "\e905";
}
.btcdirecti-android:before {
  content: "\e906";
}
.btcdirecti-apple:before {
  content: "\e907";
}
.btcdirecti-arrow-down:before {
  content: "\e908";
}
.btcdirecti-arrow-next:before {
  content: "\e909";
}
.btcdirecti-arrow-prev:before {
  content: "\e90a";
}
.btcdirecti-arrow-up:before {
  content: "\e90b";
}
.btcdirecti-bold:before {
  content: "\e90c";
}
.btcdirecti-bookmark:before {
  content: "\e90d";
}
.btcdirecti-bootstrap:before {
  content: "\e90e";
}
.btcdirecti-briefcase:before {
  content: "\e90f";
}
.btcdirecti-browse:before {
  content: "\e910";
}
.btcdirecti-bulleted-list:before {
  content: "\e911";
}
.btcdirecti-calendar:before {
  content: "\e912";
}
.btcdirecti-camera:before {
  content: "\e913";
}
.btcdirecti-cart-add:before {
  content: "\e914";
}
.btcdirecti-cart-full:before {
  content: "\e915";
}
.btcdirecti-cash:before {
  content: "\e916";
}
.btcdirecti-change-style:before {
  content: "\e917";
}
.btcdirecti-chat:before {
  content: "\e918";
}
.btcdirecti-clock:before {
  content: "\e919";
}
.btcdirecti-close:before {
  content: "\e91a";
}
.btcdirecti-cloud:before {
  content: "\e91b";
}
.btcdirecti-code:before {
  content: "\e91c";
}
.btcdirecti-contact-form:before {
  content: "\e91d";
}
.btcdirecti-credit-card:before {
  content: "\e91e";
}
.btcdirecti-cursor-click:before {
  content: "\e91f";
}
.btcdirecti-cust-feedback:before {
  content: "\e920";
}
.btcdirecti-database:before {
  content: "\e921";
}
.btcdirecti-delivery:before {
  content: "\e922";
}
.btcdirecti-desktop:before {
  content: "\e923";
}
.btcdirecti-devices:before {
  content: "\e924";
}
.btcdirecti-down:before {
  content: "\e925";
}
.btcdirecti-download:before {
  content: "\e989";
}
.btcdirecti-drag-n-drop:before {
  content: "\e927";
}
.btcdirecti-drag-n-drop2:before {
  content: "\e928";
}
.btcdirecti-edit:before {
  content: "\e929";
}
.btcdirecti-edit2:before {
  content: "\e92a";
}
.btcdirecti-error:before {
  content: "\e92b";
}
.btcdirecti-extension:before {
  content: "\e92c";
}
.btcdirecti-features:before {
  content: "\e92d";
}
.btcdirecti-file:before {
  content: "\e92e";
}
.btcdirecti-flag:before {
  content: "\e92f";
}
.btcdirecti-folder:before {
  content: "\e930";
}
.btcdirecti-gift:before {
  content: "\e931";
}
.btcdirecti-github:before {
  content: "\e932";
}
.btcdirecti-globe:before {
  content: "\e933";
}
.btcdirecti-globe-2:before {
  content: "\e934";
}
.btcdirecti-growing-chart:before {
  content: "\e935";
}
.btcdirecti-hearth:before {
  content: "\e936";
}
.btcdirecti-help:before {
  content: "\e937";
}
.btcdirecti-home:before {
  content: "\e938";
}
.btcdirecti-hot-cup:before {
  content: "\e939";
}
.btcdirecti-idea:before {
  content: "\e93a";
}
.btcdirecti-image-gallery:before {
  content: "\e93b";
}
.btcdirecti-image-slider:before {
  content: "\e93c";
}
.btcdirecti-info:before {
  content: "\e93d";
}
.btcdirecti-italic:before {
  content: "\e93e";
}
.btcdirecti-key:before {
  content: "\e93f";
}
.btcdirecti-laptop:before {
  content: "\e940";
}
.btcdirecti-layers:before {
  content: "\e941";
}
.btcdirecti-left-right:before {
  content: "\e942";
}
.btcdirecti-left:before {
  content: "\e943";
}
.btcdirecti-letter:before {
  content: "\e944";
}
.btcdirecti-like:before {
  content: "\e945";
}
.btcdirecti-link:before {
  content: "\e946";
}
.btcdirecti-lock:before {
  content: "\e947";
}
.btcdirecti-login:before {
  content: "\e948";
}
.btcdirecti-logout:before {
  content: "\e949";
}
.btcdirecti-magic-stick:before {
  content: "\e94a";
}
.btcdirecti-map-pin:before {
  content: "\e94b";
}
.btcdirecti-menu:before {
  content: "\e94c";
}
.btcdirecti-mobile:before {
  content: "\e94d";
}
.btcdirecti-mobile2:before {
  content: "\e94e";
}
.btcdirecti-btcdirect:before {
  content: "\e94f";
}
.btcdirecti-more-horizontal:before {
  content: "\e950";
}
.btcdirecti-more-vertical:before {
  content: "\e951";
}
.btcdirecti-music:before {
  content: "\e952";
}
.btcdirecti-new-file:before {
  content: "\e953";
}
.btcdirecti-numbered-list:before {
  content: "\e954";
}
.btcdirecti-opened-folder:before {
  content: "\e955";
}
.btcdirecti-pages:before {
  content: "\e956";
}
.btcdirecti-paper-plane:before {
  content: "\e957";
}
.btcdirecti-paperclip:before {
  content: "\e958";
}
.btcdirecti-photo:before {
  content: "\e959";
}
.btcdirecti-photos:before {
  content: "\e95a";
}
.btcdirecti-pin:before {
  content: "\e95b";
}
.btcdirecti-play:before {
  content: "\e95c";
}
.btcdirecti-plus:before {
  content: "\e95d";
}
.btcdirecti-preview:before {
  content: "\e95e";
}
.btcdirecti-print:before {
  content: "\e95f";
}
.btcdirecti-protect:before {
  content: "\e960";
}
.btcdirecti-question:before {
  content: "\e961";
}
.btcdirecti-quote-left:before {
  content: "\e962";
}
.btcdirecti-quote-right:before {
  content: "\e963";
}
.btcdirecti-refresh:before {
  content: "\e964";
}
.btcdirecti-responsive:before {
  content: "\e965";
}
.btcdirecti-right:before {
  content: "\e966";
}
.btcdirecti-rocket:before {
  content: "\e967";
}
.btcdirecti-sad-face:before {
  content: "\e968";
}
.btcdirecti-sale:before {
  content: "\e969";
}
.btcdirecti-save:before {
  content: "\e96a";
}
.btcdirecti-search:before {
  content: "\e96b";
}
.btcdirecti-setting:before {
  content: "\e96c";
}
.btcdirecti-setting2:before {
  content: "\e96d";
}
.btcdirecti-setting3:before {
  content: "\e96e";
}
.btcdirecti-share:before {
  content: "\e96f";
}
.btcdirecti-shopping-bag:before {
  content: "\e970";
}
.btcdirecti-shopping-basket:before {
  content: "\e971";
}
.btcdirecti-shopping-cart:before {
  content: "\e972";
}
.btcdirecti-sites:before {
  content: "\e973";
}
.btcdirecti-smile-face:before {
  content: "\e974";
}
.btcdirecti-speed:before {
  content: "\e975";
}
.btcdirecti-star:before {
  content: "\e976";
}
.btcdirecti-success:before {
  content: "\e977";
}
.btcdirecti-sun:before {
  content: "\e978";
}
.btcdirecti-sun2:before {
  content: "\e979";
}
.btcdirecti-tablet:before {
  content: "\e97a";
}
.btcdirecti-tablet-vertical:before {
  content: "\e97b";
}
.btcdirecti-target:before {
  content: "\e97c";
}
.btcdirecti-timer:before {
  content: "\e97d";
}
.btcdirecti-to-ftp:before {
  content: "\e97e";
}
.btcdirecti-to-local-drive:before {
  content: "\e97f";
}
.btcdirecti-touch-swipe:before {
  content: "\e980";
}
.btcdirecti-touch:before {
  content: "\e981";
}
.btcdirecti-trash:before {
  content: "\e982";
}
.btcdirecti-underline:before {
  content: "\e983";
}
.btcdirecti-unlink:before {
  content: "\e984";
}
.btcdirecti-unlock:before {
  content: "\e985";
}
.btcdirecti-up-down:before {
  content: "\e986";
}
.btcdirecti-up:before {
  content: "\e987";
}
.btcdirecti-update:before {
  content: "\e988";
}
.btcdirecti-upload:before {
 content: "\e926"; 
}
.btcdirecti-user:before {
  content: "\e98a";
}
.btcdirecti-user2:before {
  content: "\e98b";
}
.btcdirecti-users:before {
  content: "\e98c";
}
.btcdirecti-video:before {
  content: "\e98d";
}
.btcdirecti-video-play:before {
  content: "\e98e";
}
.btcdirecti-watch:before {
  content: "\e98f";
}
.btcdirecti-website-theme:before {
  content: "\e990";
}
.btcdirecti-wifi:before {
  content: "\e991";
}
.btcdirecti-windows:before {
  content: "\e992";
}
.btcdirecti-zoom-out:before {
  content: "\e993";
}
.btcdirecti-redo:before {
  content: "\e994";
}
.btcdirecti-undo:before {
  content: "\e995";
}
